.application {
    width: 100dvw;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    display: flex;
}

.scene {
    width: 100vw;
    display: flex;
    flex-grow: 1;
}