.application {
    width: 100dvw;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.object {
    width: 100vw;
    height: 60vh;
    border-bottom: 1PX solid black;
}

.materaial {
    flex-grow: 1;
}